@import "~bootstrap/dist/css/bootstrap.min.css";
@import '../../styles/_button.scss';

p.text-main {
  font-size: 20px;
}

.text-wrap {
  border-radius: 5px;
  background: #c5ff75;
  width: 240px;
  margin: 0 auto;
  padding-top: 12px;
  height: 70px;
  border: 3px solid black;
}

.main-card {
  padding-top: 50px;
  background: white;
}
/* --------------------
    Buttons
--------------------- */



/* Margin for images */

.margin-left {
  margin-left: 30px;
}

.margin-right {
  margin-right: 30px;
}

.padding-bottom {
  padding-bottom: 70px;
}

.align-vs {
  margin-top: 5px;
  margin-bottom: 0;
}

.img-rotate {
  transition: 1s ease;
}

.img-rotate:hover {
  transform: rotate(60deg);
  transition: 1s ease;
}

/* Leaderboard */
.leaderboard {
  position: absolute;
  top: 0;
  left: -480px;
  display: flex;
  transition: 0.5s ease;
  z-index: 5;
}

.board {
  background: #c5ff75;
  width: 480px;
  height: 615px;
  border-right: 3px solid black;
}

.tab {
  background: #c5ff75;
  position: absolute;
  left: 396px;
  display: flex;
  transform: rotate(90deg);
  align-self: center;
  align-content: stretch;
  padding: 20px 20px 0px 20px;
  border-right: 3px solid black;
  border-left: 3px solid black;
  border-top: 3px solid black;
  border-radius: 5px 5px 0 0;
}

.temp-img {
  height: 40px;
  transform: rotate(90deg);
}

.leaderboard:hover {
  transition: 1s ease;
  left: 0;
}

.leaderboard:hover + .leaderboard-fade {
  display: block;
  animation: fadeIn 1s ease-in-out;
}

.leaderboard-fade {
  display: none;
  position: absolute;
  background: rgba(197, 255, 117, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 3;
  animation: fadeOut 6s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Leaderboard Table */

table {
  font-size: 24px;
}

.table {
  border-color: #ffffff00 !important;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

.table-sm > :not(caption) > * > * {
  padding: 0.54rem 0.25rem !important;
}

/* --------------------
    Login page
--------------------- */

.login-body {
  height: 100vh;
  background: #ffd075;
}

.login-container {
  min-height: 500px;
}
.main-card {
  position: relative;
  overflow: hidden;
  width: 75% !important;
}
.card {
  overflow: hidden;
  border: 3px solid #030303;
  border-radius: 5px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
}

/* New code */
.nav-icon {
  height: 50px;
  padding: 0 4em;
}
.coins-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4em;
  padding: 3em 0;
}

.coin {
  height: 180px;
}

.button-container {
  gap: 3em;
  padding: 40px 0 70px 0;
}

/* Add this to your CSS file */
.flip-animation {
  animation: flip 1s linear infinite;
}

@keyframes flip {
  0% { transform: rotateX(0deg); }
  100% { transform: rotateX(360deg); }
}