<div class="table-wrapper">
  <table class="table table-sm table-borderless">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Player</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of leaderboard; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ player.username }}</td>
        <td>{{ player.score }}</td>
      </tr>
      <tr *ngIf="userScore" class="your-score">
        <th scope="row">YOU</th>
        <td>{{ userScore.username }}</td>
        <td>{{ userScore.score }}</td>
      </tr>
    </tbody>
  </table>
</div>